
@keyframes wave {
  0%   {background-color: #4CADDB;}
  25%  {background-color: #6fbde2;}
  50%  {background-color: #6fbde2;}
  100% {background-color: #4CADDB;}
}

@keyframes wobble {
  from {margin: 0px;}
  to {margin-left: -5px; margin-top: -2px;}
}

@keyframes glow {
  from {border: 2px solid #F6F955}
  to {border: 0}
}

* {
  box-sizing: border-box;
  background-color: #EEEEEE;
  font-family: 'Rubik Mono One', sans-serif;
}

#intro {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  background: #4CADDB;
  width: 80%;
  height: 600px;
  margin: 5% auto;
  animation-name: wave;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#title {
  background: rgba(0,0,0,0);
}

#title h1 {
  font-size: 6rem;
  color: #A3A09B;
  text-shadow: 2px 2px #68715B;
  background: rgba(0,0,0,0);
}

#front-buttons{
  width: 55%;
  background: rgba(0,0,0,0);
  display: flex;
  justify-content: space-between;
}

#settings {
  width: 80%;
  height: 600px;
  margin: 5% auto;
  animation-name: wave;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  background: #4CADDB;
}

#settings > div {
  background: rgba(0,0,0,0);
}

#settings > div > h2{
  background: rgba(0,0,0,0);
  color: white;
  text-shadow: 2px 2px #68715B;
}

#opt{
  display: flex;
  background: rgba(0,0,0,0);
  width: 45%;
  justify-content: space-around;
}
#opt div {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  height: 160px;
}

#game-play {
  margin: 2% auto;
  display: flex;
}

#setup {
  margin: 2% 0 5% 5%;
  display: flex;
  flex-flow: column;
  align-items: stretch;

}

#setup h2 {
  color: #A3A09B;
  text-shadow: 2px 2px #68715B;
}

#ships {
  display: flex;
  flex-flow: column;
  background: #A3A09B;
  padding: 10px;
  border-bottom: 2px solid #68715B;
  border-right: 2px solid #68715B;
}

#ships div {
  background: rgba(0,0,0,0);
}

#ships div:hover {
  cursor: pointer;
}

#ships div:hover h4{
  color: rgb(255, 100, 100);
}

#ships div h4{
  background: rgba(0,0,0,0);
  color: white;
  text-shadow: 2px 2px #68715B;
}

#enemy-ships {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: 30%;
}
#enemy-ships .col:hover {
  cursor: crosshair;
}

#player-ships {
  margin: 0 auto;
  width: 40%;
  display: flex;
  flex-flow: column;
}

#stats {
  margin-top: -2%;
  display: flex;
  justify-content: space-between;
  background: #4CADDB;
  width: 80%;
  height: 200px;
  margin: 0 auto;
  animation-name: wave;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}



.fb{
  background: rgba(0,0,0,0);
}

.fb:hover{
    cursor: pointer;
}

.fb:hover h3 {
  color: rgb(255, 100, 100);
}

.fb h3{
  color: white;
  background: rgba(0,0,0,0);
  text-shadow: 2px 2px #68715B;
  animation-name: wobble;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.sb {
  background: rgba(0,0,0,0);
}

.sb:hover{
    cursor: pointer;
}

.sb:hover h3{
  color: rgb(255, 100, 100);
}

.sb h3{
  color: white;
  background: rgba(0,0,0,0);
  text-shadow: 2px 2px #68715B;
  animation-name: wobble;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.easy img{
  width: 80px;
  height: 80px;
  background: rgba(0,0,0,0);
}

.hard img {
  width: 40px;
  height: 80px;
  background: rgba(0,0,0,0);
}

.rotate {
  margin-top: 2%;
  text-shadow: 2px 2px #68715B;
  padding: 5px;
  background: #A3A09B;
  border-bottom: 2px solid #68715B;
  border-right: 2px solid #68715B;
  text-align: center;
}

.rotate:hover {
  cursor: pointer;
}

.rotate:hover h4{
  color: #F6F955;
}

.rotate h4 {
  background: rgba(0,0,0,0);
  color: white;
  text-shadow: 2px 2px #68715B;
}

.vertical {
  background: #68715B;
  border-bottom: 4px solid #A3A09B;
  border-right: 4px solid #A3A09B;
}

.row {
  height: 50px;
  display: flex;
}

.col {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  background: #4CADDB;
  flex: 1;
}

.st {
  width: 40%;
  background:  #A3A09B;
  color: white;
  text-shadow: 2px 2px #68715B;
  text-align: center;
}

.st h2{
  background: rgba(0,0,0,0);
}

.st div {
  background: rgba(0,0,0,0);
}
.test {
  background: rgba(0,0,0, 0.3);
}

.hit {
  background-color: rgb(255, 100, 100);
  animation-name: glow;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.final {
  background: #68715B;
}

.miss {
  background: rgba(255,255,255,0.1);
  background: -webkit-radial-gradient(circle, white, #2d6783, #4CADDB); /* Safari */
  background: -o-radial-gradient(circle, white, #2d6783, #4CADDB); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, white, #2d6783, #4CADDB); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, white, #4CADDB, #4CADDB, #4CADDB); /* Standard syntax */
  animation-name: glow;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
