
@keyframes wave {
  0%   {background-color: #4CADDB;}
  25%  {background-color: #6fbde2;}
  50%  {background-color: #6fbde2;}
  100% {background-color: #4CADDB;}
}

@keyframes wobble {
  from {margin: 0px;}
  to {margin-left: -5px; margin-top: -2px;}
}

* {
  box-sizing: border-box;
  background-color: #EEEEEE;
  font-family: 'Rubik Mono One', sans-serif;
}

#intro {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  background: #4CADDB;
  width: 80%;
  height: 600px;
  margin: 5% auto;
  animation-name: wave;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#title {
  background: rgba(0,0,0,0);
}

#title h1 {
  font-size: 6rem;
  color: #A3A09B;
  text-shadow: 2px 2px #68715B;
  background: rgba(0,0,0,0);
}

#start {
  background: rgba(0,0,0,0);

}

#start:hover {
  cursor: pointer;
}

#start h3 {
    color: white;
    background: rgba(0,0,0,0);
    text-shadow: 2px 2px #68715B;
    animation-name: wobble;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#start h3:hover {
   color: rgb(255, 100, 100);
}

#game-play {
  margin: 5% auto;
  display: flex;
}

#setup {
  margin: 2% 0 5% 5%;
  display: flex;
  flex-flow: column;
  align-items: stretch;

}

#setup h2 {
  color: #A3A09B;
  text-shadow: 2px 2px #68715B;
}

#ships {
  display: flex;
  flex-flow: column;
  background: #A3A09B;
  padding: 10px;
  border-bottom: 2px solid #68715B;
  border-right: 2px solid #68715B;
}

#ships div {
  background: rgba(0,0,0,0);
}

#ships div:hover {
  cursor: pointer;
}

#ships div h4{
  background: rgba(0,0,0,0);
  color: white;
  text-shadow: 2px 2px #68715B;
}

#ships div h4:hover {
  color: rgb(255, 100, 100);
}

#rotate {
  margin-top: 2%;
  text-shadow: 2px 2px #68715B;
  padding: 5px;
  background: #A3A09B;
  border-bottom: 2px solid #68715B;
  border-right: 2px solid #68715B;
  text-align: center;
}

#rotate:hover {
  cursor: pointer;
}

#rotate h4 {
  background: rgba(0,0,0,0);
  color: white;
  text-shadow: 2px 2px #68715B;
}

#rotate h4:hover {
  color: #F6F955;
}

#enemy-ships {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: 30%;
}
#enemy-ships .col:hover {
  cursor: crosshair;
}

#player-ships {
  margin: 0 auto;
  width: 40%;
  display: flex;
  flex-flow: column;
}

.row {

  height: 50px;
  display: flex;
}

.col {

  border-bottom: 2px solid white;
  border-right: 2px solid white;
  background: #4CADDB;
  flex: 1;
}

.test {
  background: rgba(0,0,0, 0.3);
}

.final {
  background: #68715B;
}
